<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode"
         value="None" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5"
                 debug="true" />
    <httpRuntime targetFramework="4.5"
                 maxRequestLength="1048576" />
    <authentication mode="Forms">
      <forms loginUrl="Inloggen.aspx" />
    </authentication>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>